<div id="comienza-hoy">
  <div id="encabezado">
    <h3>Cada vez estás más cerca de tu objetivo</h3>
    <p>
      Para nosotros es muy importante evaluar cada caso por separado y dedicar
      unos minutos a conocerte para saber mejor cuáles son tus metas, tus
      hábitos y cómo podemos crear el plan de entrenamiento más adecuado.
      Completa este formulario y nos pondremos en contacto contigo para empezar
      el camino juntos.
    </p>
  </div>
  <div id="contacto">
    <form-contacto></form-contacto>
  </div>
</div>
