* {
  background-color: #053322;
}

.home {
  display: flex;
  flex-direction: column;
}

h2,
h5,
h6,
p {
  color: #fff;
  font-family: Poppins;
}

#elementos-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.home h2 {
  color: #fff;
  font-size: 105px;
  font-style: normal;
  font-weight: 600;
  line-height: 120px; /* 114.286% */
  max-width: 17ch;

  margin-left: 183px;
  margin-top: 266px;
}

#home-img {
  display: flex;

  width: 1300px;
  height: 959px;
  flex-shrink: 0;
  border-radius: 100px;
  z-index: 2;
  object-fit: cover;
}

#footer-img-home {
  border-radius: 100px;
  background: #00e87e;
  width: 1300px;
  height: 494px;
  flex-shrink: 0;
  z-index: 1;
  position: absolute;
  padding-top: 79%;
}

#text-footer-img {
  color: #4a4a4a;
  font-size: 30px;
  background: #00e87e;
  font-family: Poppins;
  z-index: 3;
  padding-top: 10vh;
  max-width: 50ch;
  text-align: center;
  color: #053322;
}

#btn-comienza {
  width: 400px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #c8fce3;
  margin-top: 125px;
}

#seccion-cards {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
}

#seccion-cards h6 {
  margin-left: 153px;
  color: #fff;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 66px;
  margin-bottom: 135px;
}

#seccion-cards h2 {
  padding: 0px;
  margin-left: 153px;
}

.card {
  border-radius: 50px;
  border: 3px solid #00e87e;
  padding: 5vh;
  width: 891px;
  height: 410px;
  margin-bottom: 1%;
}

.card p,
h5 {
  color: #bdd7cd;
}

.card p {
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-left: 81px;
  margin-right: 60px;
  margin-top: 56px;
}

.card h5 {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  flex-shrink: 0;
  margin-left: 81px;
  margin-top: 10px;
}

#first-card {
  margin-left: 150px;
}
#second-card {
  margin-left: 415px;
}

#third-card {
  margin-left: 763px;
}

#seccion-carrusel h2,
p {
  color: #053322;
  background: transparent;
  margin-left: 150px;
}

#seccion-carrusel {
  width: 1737px;
  height: 1420px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #00e87e;
  margin-top: 268px;
}

#seccion-carrusel h2 {
  margin-top: 130px;
  font-size: 105px;
  font-style: normal;
  font-weight: 600;
  line-height: 115px; /* 109.524% */
}

#seccion-carrusel p {
  margin-top: 50px;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
