<div class="home">
  <h2>Entrenamos tu potencial, sin importar la distancia</h2>
  <div id="elementos-home">
    <img
      id="home-img"
      src="../../../../assets/img/1366_2000.webp"
      alt="sqat bulgaro"
    />

    <div id="footer-img-home"></div>
    <p id="text-footer-img">
      Ayudamos a las personas a mejorar su rendimiento deportivo, recuperarse de
      lesiones y lograr una mejor forma física
    </p>
    <button id="btn-comienza">Comienza hoy</button>
  </div>

  <div id="seccion-cards">
    <h2>Alcanza tus metas desde cualquier lugar</h2>
    <h6>
      Nuestra metodología se centra en el progreso constante y la mejora
      continua.
    </h6>
    <div class="card" id="first-card" data-aos="fade-right">
      <h5>personalización</h5>
      <p>
        Comenzamos cada viaje deportivo con evaluaciones, ya sea presenciales o
        en línea, diseñadas específicamente para cada cliente.
      </p>
    </div>
    <div class="card" id="second-card" data-aos="fade-right">
      <h5>seguimiento</h5>
      <p>
        Realizamos un seguimiento de cada cliente para poder ajustar y adaptar
        los programas garantizando una evolución constante.
      </p>
    </div>
    <div data-aos="fade-right" id="third-card" class="card">
      <h5>atención integral</h5>
      <p>
        Te ayudamos a mejorar el rendimiento deportivo, la recuperación de
        lesiones y la mejora física general.
      </p>
    </div>
  </div>
  <div id="seccion-carrusel">
    <h2>Valoramos cada experiencia</h2>
    <p>
      El deporte une y a nosotros nos guste crear vinculos de confianza con los
      etrainers.
    </p>
  <div class="wrapper">
  <div class="carousel">
    <img src="../../../../assets/img/688d2bc87d4a3ea21adcd8e6f66e540f.jfif" alt="">
    <img src="../../../../assets/img/82daafb4e32b9eee787e655101f96d21.jfif" alt="">
    <img src="../../../../assets/img/fa82eb695a62798b8474466030ed25b3.jfif" alt="">
    <img src="../../../../assets/img/1366_2000.webp" alt="">
  </div>
  </div>
  </div>
</div>
