<div id="asesoria-online">
  <div id="encabezado">
    <h2>Lleva tu forma física al siguiente nivel</h2>
    <h6>
      Diseñado para adaptarse a una gran variedad de objetivos y niveles de
      experiencia
    </h6>
    <p>
      Tanto si eres un principiante como un experto, este servicio proporciona
      un acompañamiento constante, permitiéndote alcanzar metas específicas de
      manera efectiva y sostenible. Con un enfoque centrado en el usuario y
      resultados tangibles, nuestro programa es la clave para descubrir tu mejor
      versión física y mantener un estilo de vida activo a largo plazo.
    </p>
  </div>

    <app-slider></app-slider>


  <div id="metodologia">
    <h2>Qué incluye</h2>
    <h5>
      Nuestro programa de Asesoría Online y Evaluación ofrece una experiencia
      integral y personalizada. Desde la evaluación detallada hasta la creación
      de planes de entrenamiento adaptados a tus objetivos. Este enfoque único
      garantiza resultados tangibles, brindándote una transformación real y
      sostenible.
    </h5>

    <div-desplegable-asesoria></div-desplegable-asesoria>
  </div>
  <form-contacto></form-contacto>
</div>
