<div id="asesoria-online">
  <div id="encabezado">
    <h2>Lleva tu forma física al siguiente nivel</h2>
    <h6>
      Diseñado para adaptarse a una gran variedad de objetivos y niveles de
      experiencia
    </h6>
    <p>
      Tanto si eres un principiante como un experto, este servicio proporciona
      un acompañamiento constante, permitiéndote alcanzar metas específicas de
      manera efectiva y sostenible. Con un enfoque centrado en el usuario y
      resultados tangibles, nuestro programa es la clave para descubrir tu mejor
      versión física y mantener un estilo de vida activo a largo plazo.
    </p>
  </div>

  <div id="caracteristicas-asesoria">
    <div id="img-caract">
      <img src="" alt="carasssss" />
      <img src="" alt="cosas cientificas" />
    </div>
    <div id="texto-caract">
      <div class="card-caracteristica">
        <h6>Adaptado</h6>
        <p>Ofrece la conveniencia de entrenar desde casa o tu gimnasio</p>
      </div>

      <div class="card-caracteristica">
        <h6>Flexible</h6>
        <p>
          El cuándo solo depende de ti. ideal para personas con horarios
          ocupado.
        </p>
      </div>

      <div class="card-caracteristica">
        <h6>Personalizado</h6>
        <p>
          Un programa efectivo y personalizado basado en una evaluazión física
          previa
        </p>
      </div>

      <div class="card-caracteristica">
        <h6>Flexibilidad y Accesibilidad:</h6>
        <p>
          La asesoría online te brinda la flexibilidad de realizar tus
          entrenamientos en cualquier momento y lugar que te resulte
          conveniente. A través de nuestra plataforma en línea fácil de usar,
          tendrás acceso a videos instructivos, descripciones detalladas de
          ejercicios y un seguimiento constante de tu progreso.
        </p>
      </div>

      <div class="card-caracteristica">
        <h6>Acompañamiento Constante:</h6>
        <p>
          No estás solo en tu viaje hacia una mejor salud. Nuestro equipo de
          entrenadores expertos estará a tu disposición para responder a tus
          preguntas, proporcionarte motivación y ajustar tu plan de
          entrenamiento según sea necesario a lo largo de las seis semanas.
        </p>
      </div>

      <div class="card-caracteristica">
        <h6>Resultados Tangibles:</h6>
        <p>
          Al final de las seis semanas, no solo habrás experimentado mejoras
          físicas evidentes, sino que también habrás adquirido conocimientos
          valiosos sobre tu cuerpo y cómo mantener un estilo de vida activo.
          Este servicio va más allá de la rutina de ejercicios estándar; es una
          inversión en tu bienestar a largo plazo.
        </p>
      </div>
    </div>
  </div>

  <div id="metodologia">
    <h2>Qué incluye</h2>
    <h5>
      Nuestro programa de Asesoría Online y Evaluación ofrece una experiencia
      integral y personalizada. Desde la evaluación detallada hasta la creación
      de planes de entrenamiento adaptados a tus objetivos. Este enfoque único
      garantiza resultados tangibles, brindándote una transformación real y
      sostenible.
    </h5>
    <img src="" alt="algo que no entiendo" />

    <h6>Proceso de Evaluación Detallada:</h6>
    <p >
      Nuestro servicio comienza con una exhaustiva evaluación de tu estado
      físico. Utilizando tecnologías avanzadas y métodos científicos, medimos el
      rango de movilidad de tus articulaciones, evalúamos tu fuerza muscular,
      medimos tu capacidad de salto y recopilamos datos cruciales sobre tu
      resistencia. Esta información no solo nos permite entender tu punto de
      partida, sino que también sienta las bases para un programa de
      entrenamiento efectivo y personalizado.
    </p>
    <h6>Diseño de Plan de Entrenamiento Personalizado:</h6>
    <p>
      Con los datos en mano y una comprensión profunda de tus metas
      individuales, nuestros expertos diseñan un plan de entrenamiento
      personalizado de seis semanas. Cada ejercicio y actividad están
      cuidadosamente seleccionados para maximizar tus resultados, teniendo en
      cuenta tus objetivos específicos, nivel de condición física y cualquier
      consideración especial de salud.
    </p>
    <h6>Revisión de resultados:</h6>
    <p>
      Al final de las seis semanas tendrás otra evaluación que te permitirá
      conocer tu evolución. Lo mejor es que no solo habrás experimentado mejoras
      físicas, sino que también habrás adquirido conocimientos valiosos sobre tu
      cuerpo y cómo mantener un estilo de vida activo. Etrain va más allá de la
      rutina de ejercicios estándar; es una inversión en tu bienestar a largo
      plazo.
    </p>
  </div>
  <div id="tarifas">
    <h2>Tarifas</h2>
    <h6>Descubre el plan que mejor se adapta a ti, nosotros haremos el resto.</h6>
    <div id="cards-tarifas">
      <div class="tarifa">
        <h4>Free</h4>
        <h3>0 eur</h3>
        <p>BLABLABALA</p>
        <p>BLABLABALA</p>
        <button>Apuntarse</button>
      </div>
      <div class="tarifa">
        <h4>Free</h4>
        <h3>0 eur</h3>
        <p>BLABLABALA</p>
        <p>BLABLABALA</p>
        <button>Apuntarse</button>
      </div>
      <div class="tarifa">
        <h4>Free</h4>
        <h3>0 eur</h3>
        <p>BLABLABALA</p>
        <p>BLABLABALA</p>
        <button>Apuntarse</button>
      </div>
    </div>
  </div>
</div>
