.slider {
  display: flex;
  overflow: hidden; /* Se cambia de 'overflow-x: auto' a 'overflow: hidden' */
  white-space: nowrap;
  cursor: grab;
  width: 100%;
}

.item {
  flex: 0 0 auto;
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: transform 0.3s ease; /* Se agrega una transición para un efecto más suave */
}

.slider:active {
  cursor: grabbing;
}
