<div id="encabezado">
  <h3>Tu entrenamiento con nosotros, mano a mano</h3>
  <p>
    Nuestro servicio de entrenamiento personal ofrece una experiencia integral
    que se adapta a tu estilo de vida, si bien prefieres la interacción personal
    en un entorno presencial o por el contrario prefieres la flexibilidad de
    entrenar desde casa, pero con un profesional que te guíe en directo. Este
    programa te da el empujón que necesitas para conseguir tus objetivos.
  </p>

</div>
<div id="slider">
  <app-slider></app-slider>
</div>
<div id="contenido">
  <h3>Qué incluye</h3>
  <p>
    Nuestro programa de Asesoría Online y Evaluación ofrece una experiencia
    integral y personalizada. Desde la evaluación detallada hasta la creación de
    planes de entrenamiento adaptados a tus objetivos. Este enfoque único
    garantiza resultados tangibles, brindándote una transformación real y
    sostenible.
  </p>
  <desplegable-entrenamiento></desplegable-entrenamiento>
</div>
<div id="contacto">
  <form-contacto></form-contacto>
</div>
