<div class="about">
  <div id="sec-quienes">
    <div class="titulos">
      <h3>Quiénes somos</h3>
      <p>
        Somos un socio de confianza a lo largo de tu viaje deportivo. Te
        acompañamos e impulsamos en el logro de tus objetivos.
      </p>
    </div>
    <div id="cuadrado-resaltado">
      <p id="eslogan">Nuestra misión es la tuya</p>
      <h4>
        Buscamos eliminar las barreras geográficas y empoderar a nuestros
        clientes
      </h4>
      <p>
        Nuestro compromiso es proporcionar programas de entrenamiento de calidad
        que ayuden a las personas a mejorar su rendimiento deportivo,
        recuperarse de lesiones y lograr una mejor forma física
      </p>
      <button id="btn-comienza">Comienza hoy</button>
    </div>
  </div>
  <div id="sec-como">
    <div class="titulos">
      <h3>Cómo lo hacemos</h3>
      <p>
        Nuestra metodología en ETRAIN se basa en la personalización, el
        seguimiento y la mejora constante
      </p>
    </div>
    <div id="sec-cards">
      <div class="card" id="first-card" data-aos="fade-right">
        <h5>evaluación</h5>
        <p>
          Comenzamos cada viaje deportivo con evaluaciones, ya sea presenciales
          o en línea, diseñadas específicamente para cada cliente. Estas
          evaluaciones nos permiten comprender las necesidades y objetivos
          únicos de cada individuo.
        </p>
      </div>
      <div class="card" id="second-card" data-aos="fade-right">
        <h5>programa personalizado</h5>
        <p>
          Una vez que conocemos a nuestros clientes en profundidad, creamos un
          programa de entrenamiento personalizado, con ejercicios diseñados para
          alcanzar los objetivos. Abordamos el rendimiento deportivo, la
          recuperación de lesiones y la mejora física en cada paso del camino.
        </p>
      </div>
      <div data-aos="fade-right" id="third-card" class="card">
        <h5>seguimiento</h5>
        <p>
          El seguimiento es esencial en nuestra metodología. Utilizamos
          tecnología de vanguardia para rastrear y analizar los resultados de
          cada cliente a lo largo de su viaje. Esto nos permite ajustar y
          adaptar los programas según sea necesario para garantizar una
          evolución constante.
        </p>
      </div>
    </div>
  </div>
  <div id="sec-equipo">
    <div class="titulos">
      <h3>Equipo</h3>
      <p>
        Para nosotros lo más importante es que te sientas acompañado y
        comprometido con tus objetivos
      </p>
    </div>
    <div id="presentacion-antonio">
      <div id="foto-cuadrado">
        <div id="cuadrado"></div>
        <img src="" alt="foto-toni" />
      </div>

      <div id="texto-toni">
        <h4>Me llamo Antonio Diez,</h4>
        <p>
          me dedico a la preparación física por pasión, me divierte y disfruto
          viendo cómo mejoran las personas que entreno.
          <br />
          <br />
          Soy graduado en Ciencias de la Actividad Física y del Deporte. Más
          tarde, estudié un máster en Prevención y Readaptación de Lesiones.
          <br />
          <br />
          También soy entrenacdor nacional de balonmano y actualmente estudio un
          máster en Formaciónn del Profesorado.
        </p>
      </div>
    </div>
  </div>
</div>
