<div id="servicios">
  <div id="sec-titulo">
    <h3>Personalizamos cada programa de entrenamiento</h3>
    <p>
      Nuestro objetivo es adaptarnos a las metas y necesidades únicas de cada
      cliente
    </p>
  </div>
  <div id="sec-programas">
    <h3>PROGRAMAS</h3>
    <div id="group-card">
      <div class="card-servicios">
        <h4>Asesoría online y Evaluación</h4>
        <div class="info-servicios">
          <p>
            Incluye muchas cosas super guays como por ejemplo:

            <br />
            · wichiri
            <br />
            · wachawara
            <br />
            · lichiniri
          </p>
          <button>Ver más</button>
        </div>
      </div>
      <div class="card-servicios">
        <h4>Entrenamiento personal</h4>
        <div class="info-servicios">
          <p>
            Incluye muchas cosas super guays como por ejemplo:

            <br />
            · wichiri
            <br />
            · wachawara
            <br />
            · lichiniri
          </p>
          <button>Ver más</button>
        </div>
      </div>
      <div class="card-servicios">
        <h4>Readaptación deportiva</h4>
        <div class="info-servicios">
          <p>
            Incluye muchas cosas super guays como por ejemplo:

            <br />
            · wichiri
            <br />
            · wachawara
            <br />
            · lichiniri
          </p>
          <button>Ver más</button>
        </div>
      </div>
    </div>
  </div>
</div>
