<div id="servicios-div">
<h2>Personalizamos cada programa de entrenamiento</h2>
<h6>Nuestro objetivo es adaptarnos a las metas y necesidades únicas de cada cliente</h6>
</div>
<div id="programas-div">
  <h3>PROGRAMAS DE ENTRENAMIENTO</h3>
  <div class="card-servicios">
    <img
      class="img-servicio"
      src="../../../../assets/img/82daafb4e32b9eee787e655101f96d21.jfif"
      alt=""
    />
    <h4>Asesoria online y Evaluación</h4>
  </div>
  <div class="card-servicios">
    <img
      class="img-servicio"
      src="../../../../assets/img/688d2bc87d4a3ea21adcd8e6f66e540f.jfif"
      alt=""
    />
    <h4>Entrenamiento personal</h4>
  </div>
  <div class="card-servicios">
    <img
      class="img-servicio"
      src="../../../../assets/img/fa82eb695a62798b8474466030ed25b3.jfif"
      alt=""
    />
    <h4>Readaptación deportiva</h4>
  </div>
</div>
