<div>
  <button (click)="toggleDiv(1)">Proceso de Evaluación Detallada:</button>
</div>

<div *ngIf="div1Desplegado">
  <p>
    Nuestro servicio comienza con una exhaustiva evaluación de tu estado físico.
    Utilizando tecnologías avanzadas y métodos científicos, medimos el rango de
    movilidad de tus articulaciones, evalúamos tu fuerza muscular, medimos tu
    capacidad de salto y recopilamos datos cruciales sobre tu resistencia. Esta
    información no solo nos permite entender tu punto de partida, sino que
    también sienta las bases para un programa de entrenamiento efectivo y
    personalizado.
  </p>
</div>
<div>
  <button (click)="toggleDiv(2)">
    Diseño de Plan de Entrenamiento Personalizado:
  </button>
</div>

<div *ngIf="div2Desplegado">
  <p>
    Con los datos en mano y una comprensión profunda de tus metas individuales,
    nuestros expertos diseñan un plan de entrenamiento personalizado de seis
    semanas. Cada ejercicio y actividad están cuidadosamente seleccionados para
    maximizar tus resultados, teniendo en cuenta tus objetivos específicos,
    nivel de condición física y cualquier consideración especial de salud.
  </p>
</div>
<div>
  <button (click)="toggleDiv(3)">Proceso de Evaluación Detallada:</button>
</div>

<div *ngIf="div3Desplegado">
  <p>
    Al final de las seis semanas tendrás otra evaluación que te permitirá
    conocer tu evolución. Lo mejor es que no solo habrás experimentado mejoras
    físicas, sino que también habrás adquirido conocimientos valiosos sobre tu
    cuerpo y cómo mantener un estilo de vida activo. Etrain va más allá de la
    rutina de ejercicios estándar; es una inversión en tu bienestar a largo
    plazo.
  </p>
</div>
